<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geryon.mondocontrol"
    android:versionCode="4"
    android:versionName="1.21" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
     <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        
        <activity
            android:name="com.geryon.mondocontrol.MondoConMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        
        </activity>
        <activity
            android:name="com.geryon.mondocontrol.SubActivity" />
    <receiver android:name="com.geryon.mondocontrol.AlarmReceiver"  />
    </application>

</manifest>